<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title and page.layout != 'home' %}{{ page.title | escape }} · {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ site.description | escape }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/modernist.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
